body {
    margin: 0;
}

header {
    background-color: grey;
    margin-left: 0px;
    color: black;
    padding: 7px;
    text-align: center;
}

footer {
    background-color: grey;
    color: black;
    padding: 0px;
    text-align: center;
    margin-top: 180px;
}