.wrapper {
    background-color: black;
    width: 400px;
    opacity: 0.7;
    height: 200px;
    margin-left: 450px;
    margin-top: 200px;
}

.login-btn {
    padding-left: 220px;
    padding-top: 50px;
}

.username {
    margin-left: 25px;
    padding-top: 60px;
}

.password {
    margin-left: 29px;
    padding-top: 3px;
}